
// Colors

$color-primary: #f0664e;
$color-accent: #fffef5;
$color-white: #fff;
$color-grey: #828080;
$color-brown: #3f3338;
$color-dark: #241f21;


// Typography

$font-family-heading: 'Neuton', serif;

$font-family-body: 'Lato', sans-serif;

$body-text: 1.25rem;
$body-lineheight: 1.625rem;
$body-label: 0.875rem;

$heading-1: 5rem;
$heading-2: 3rem;
$heading-3: 1.6rem;

$weight-normal: 400;
$weight-bold: 900;

// Layout

$container-size: 1140px;


// Object

$rounded: 5px;
$rounded-button: 50px;
$box-shadow: 0px 3px 5px 1px rgba($color-dark, 0.02);
$box-shadow-hover: 0px 5px 28px 9px rgba($color-dark, 0.04);


// Responsiveness

$breakpoints: (
  'mobile': 414px,
  'tablet': 768px,
  'desktop': 1100px,
);
