.book {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  border-radius: $rounded;
  box-shadow: $box-shadow;
  min-height: 420px;
  position: relative;
  @include transition;
  margin-bottom: 24px;
  @include respond-to('desktop') {
    margin-bottom: 0;
  }
  &:hover {
    box-shadow: $box-shadow-hover;
  }
  &:hover .book-info {
    height: 160px;
    @include transition;
  }
  &:hover .book-title {
    text-decoration: underline;
    text-decoration-color: $color-primary;
  }
  &-cover {
    min-width: 260px;
    position: relative;
    left: 0;
  }
  &-info {
    @include transition;
    width: 100%;
    padding: 30px;
    height: 140px;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: $color-white;
    border-bottom-left-radius: $rounded;
    border-bottom-right-radius: $rounded;
  }
  &-info-category {
    text-align: left;
    @include clearfix;
  }
  &-cover-category {
    width: 170px;
    img {
      box-shadow: $box-shadow-hover;
      @include respond-to('desktop') {
        float: left;
      }
    }
  }
  &-actions {
    @include respond-to('desktop') {
      text-align: center;
    }
  }
  &-description {
    margin-bottom: 12px;
  }
  &-tray-link {
    display: block;
    margin-top: 20px;
  }
  &-title {
    @include transition;
    font-family: $font-family-body;
    font-weight: $weight-bold;
    font-size: $body-text;
  }
  &-author {
    font-weight: $weight-normal;
    color: $color-grey;
    padding: 8px 0;
  }
  &-separator {
    background-color: rgba($color-grey, 0.3);
    border: none;
    min-height: 1px;
    margin: 50px 0;
  }
  &-norman {
    background-image: url('../book-covers/design-everyday-things.jpg');
  }
  &-krug {
    background-image: url('../book-covers/dont-make-me-think.jpg');
  }
  &-krug2 {
    background-image: url('../book-covers/rocket-surgery.jpg');
  }
  &-garrett {
    background-image: url('../book-covers/elements-ux.jpg');
  }
  &-eyal {
    background-image: url('../book-covers/hooked.jpg');
  }
  &-kahneman {
    background-image: url('../book-covers/thinking-fast.jpg');
  }
  &-nodder {
    background-image: url('../book-covers/evil.jpg');
  }
  &-hurff {
    background-image: url('../book-covers/people-love.jpg');
  }
}
