.footer {
  background: #fff;
  @include clearfix;
  &-about {
    font-size: $heading-3;
  }
  &-description {
    padding: 40px 0;
    @include respond-to('tablet') {
      padding: 40px 120px;
    }
  }
}
