.nav {
  height: 70px;
  text-align: left;
  background-color: rgba($color-white, 0.7);
  @include clearfix;
  &-logo {
    height: 44px;
    float: left;
    margin-top: 14px;
  }
  &-item {
    display: inline-block;
    padding-left: 16px;
  }
  ul {
    float: right;
    margin-top: 20px;
  }
}

.nav-sticky {
  position: fixed;
  top: -5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 320px;
  height: 52px;
  background-color: rgba($color-white, 0.96);
  z-index: 200;
  text-align: center;
  box-shadow: $box-shadow;
  border-radius: $rounded;
  @include clearfix;
  label {
    margin-left: 46px;
  }
}

.nav-sticky-logo {
  width: 30px;
  position: absolute;
  left: 0;
  margin: 10px 0 0 12px;
}

.nav-sticky-item {
  display: inline-block;
  margin: 12px 12px 0 0;
  font-weight: $weight-bold;
  color: $color-dark;
  &:hover {
    text-decoration: underline;
    text-decoration-color: $color-primary;
  }
}

#menu-toggle {
  display: none;
}

#menu {
  display: none;
  position: absolute;
  top: 0px;
  left: -1px;
  width: 320px;
  text-align: left;
  box-shadow: $box-shadow;
  border-bottom-left-radius: $rounded;
  border-bottom-right-radius: $rounded;
  li a {
    margin: 20px 10px 20px 25px;
    display: block;
  }
}

#menu-toggle:checked + #menu {
  display: block;
  top: 48px;
  background-color: rgba($color-white, 0.96);
}
