.nav {
  height: 70px;
  text-align: left;
  background-color: rgba($color-white, 0.7);
  @include clearfix;
  &-logo {
    height: 44px;
    float: left;
    margin-top: 14px;
  }
  &-item {
    display: inline-block;
    padding-left: 16px;
  }
  ul {
    float: right;
    margin-top: 20px;
  }
}

.nav-sticky {
  position: fixed;
  top: -5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 300px;
  height: 52px;
  background-color: rgba($color-white, 0.9);
  z-index: 200;
  text-align: center;
  border: 0.5px solid rgba($color-grey, 0.5);
  border-radius: $rounded;
}

.nav-sticky-item {
  display: inline-block;
  padding: 12px 8px 0 8px;
  font-weight: $weight-bold;
}
