.nav {
  height: 70px;
  text-align: left;
  background-color: rgba($color-white, 0.7);
  @include clearfix;
  &-logo {
    height: 44px;
    float: left;
    margin-top: 14px;
  }
  &-item {
    display: inline-block;
    padding-left: 16px;
  }
  ul {
    float: right;
    margin-top: 20px;
  }
}
