.btn {
  border: none;
  border-radius: $rounded-button;
  padding: 6px 18px;
  text-transform: uppercase;
  font-size: $body-label;
  line-height: 2rem;
  font-weight: $weight-bold;
  vertical-align: baseline;
  position: relative;
  @include transition;
  i {
    float: right;
    position: relative;
    top: 4px;
    right: -4px;
    @include transition;
  }
  &:hover i {
    margin-left: 5px;
  }
}

.btn-primary {
  background-color: $color-primary;
  color: $color-white;
  &:hover {
    background-color: $color-dark;
  }
}

.btn-secondary {
  border: 2px solid $color-primary;
  background-color: transparent;
  color: $color-primary;
  &:hover {
    color: $color-white;
    background-color: $color-primary;
  }
}
