.button-primary {
  border: 2px solid $color-primary;
  background-color: transparent;
  border-radius: $rounded-button;
  padding: 12px 25px;
  color: $color-primary;
  text-transform: uppercase;
  font-size: $body-label;
  font-weight: $weight-bold;
  @include transition;
  &:hover {
    @include transition;
    color: $color-white;
    background-color: $color-primary;
  }
}
